html {
	font: 15px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
h1 {font-size:16px; line-height:28px; font-weight:bold;}

#top {
	color:#eee; 
	padding:0 0 10px 0;
	text-align:right; font-weight:bold;
}

#navbar {width:100%; height:30px;}
#navbar ul {padding:0;}
#navbar ul li {float:left;}
#navbar ul li a{
	color:#555; background-color:#bbb;
	display:block;
	width:120px;
	text-align:center;
	padding:0px 10px; 
	font: bold 12px/30px tahoma;
	text-decoration:none;
	margin-right:1px;
}
#navbar ul li a:hover {color:#eee; background-color:#38ADC1;}

#main {margin-left: 20px;}
.section {width: 135px; display:block; float:left;}
.section li{margin-left: 10px}
